/* styles.module.css */
.sticky-navbar {
  position: sticky;
  top: 0;
  background-color: white; /* Gerekirse arkaplan rengini ayarlayın */
  z-index: 1000;
}

.nav-ul li {
  display: inline;
  list-style: none;
}
.nav-ul a {
  text-decoration: none;
}
.all-categori a {
  width: 272px;
}

.green_hover:hover span {
  color: #ef8e01 !important;
  cursor: pointer !important;
}

@media (min-width: 768px) {
  .category-size {
    width: 22rem !important;
  }
  .icon_wp {
    font-size: 27px !important;
  }
  .number_size {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .icon_wp {
    font-size: 27px !important;
  }
  .number_size {
    font-size: 12px !important;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100% !important;
  }
  .img-logo {
    width: 120px !important;
    height: 31px !important;
  }
}

@media (max-width: 768px) {
  .category-size {
    min-width: 100% !important;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .allcatego-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .all-categori {
    width: 272px !important;
  }
}
@media (max-width: 992px) {
  /* .all-categories {
    width: 225px !important;
  } */
  .alt-ul:first-child {
    margin-left: 20px !important;
  }
  .category-size {
    width: 100%;
  }
  /* .allcatego-none {
    display: none !important;
  } */
  .abalamtext_size {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  .custom-menu li span {
    font-size: 13px !important;
  }

  /* .all-categories {
    width: 220px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  } */
  .all-categori {
    width: 225px !important;
  }
  .boyut-a {
    width: 220px !important;
  }
}

@media (min-width: 992px) {
  .abalamtext_size {
    font-size: 16px !important;
    font-weight: bold !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .img-logo {
    width: 160px !important;
    height: 40px !important;
  }
  .all-categories {
    width: 11rem !important;
  }
  .abalamtext_size {
    font-size: 15px !important;
  }
}

/* Anasayfa Hakkimizda ve İletişim Duzenlenme */
.custom-menu li span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: width 0.3s;
}

.custom-menu {
  list-style-type: none;
  display: flex;
  margin-top: 9px;
  margin-left: 31px;
}

.custom-menu li {
  position: relative;
}

/* .custom-menu li span {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 5px;
  transition: padding-bottom 0.3s, border-color 0.3s;
} */

.custom-menu li:hover span {
  padding-bottom: 10px;
}

.custom-menu li:hover span::after {
  width: 100%;
}
.searchRounded {
  border-radius: 15px !important;
  border-top-right-radius: 0 !important; /* Sağ üst kenar yuvarlatmasını kaldırır */
  border-bottom-right-radius: 0 !important; /* Sağ alt kenar yuvarlatmasını kaldırır */
}
.iconRounded {
  border-radius: 15px !important;
  border-top-left-radius: 0 !important; /* Sağ üst kenar yuvarlatmasını kaldırır */
  border-bottom-left-radius: 0 !important; /* Sağ alt kenar yuvarlatmasını kaldırır */
}
.socialMedia:hover {
  color: #fff;
  background-color: orange;
  transition: all 0.3s ease-in-out;
}
.hoverOrange:hover span {
  color: orange !important;
  transition: all 0.3s ease-in-out !important;
}
