.cta_bg_image_two {
  background-color: #f6f2ed;
  background-image: url(../../../public/bizitaniyin.webp);
  background-repeat: no-repeat;
  background-position: top right;
}
@media screen and (max-width: 992px) {
  .textAlign {
    text-align: center !important;
  }
}

@media screen and (min-width: 992px) {
  .textAlign {
    text-align: start !important;
  }
}
